lex.yy.c
src/parser/y.tab.h
src/parser/y.tab.c
.vscode/
src/finalcode
src/finalcode.exe
src/bin/*.o
*.out
src/bin/
.history/
.history/*
../.history/*
StarPlat
StarPlat.exe
debug.txt
dump
*.pdf
To_be_done.txt
.github/
dump/
*.starplat
runtests.sh
cudadump/
testcases/testAMD/*
graphcode/generated_hip/*cc
graphcode/generated_hip/*h
graphcode/generated_mpi/output/*
graphcode/generated_mpi/Makefile
graphcode/generated_mpi/*.cc
graphcode/generated_mpi/*.h
graphcode/generated_omp/*cc
graphcode/generated_omp/*h
.idea/
*.o
**/.DS_Store
graphcode/sample_graphs/*.DS_Store
